<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.airaccident">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo1"
        android:label="航空事故查询"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Other.Weather.WeaMainActivity"></activity>
        <activity android:name=".Other.LaoHuangLi.TodayActivity" />
        <activity android:name=".Activity.ReaManage.ReasonChangeActivity" />
        <activity android:name=".Activity.ReaManage.ReasonChooseActivity" />
        <activity android:name=".Activity.ReaManage.ReasonAddActivity" />
        <activity android:name=".Activity.AccSearch.ReasonActivity" />
        <activity android:name=".Activity.AccSearch.ReasonSecondActivity" />
        <activity android:name=".Activity.AccManage.ManChangeActivity" />
        <activity android:name=".Activity.AccManage.ManChooseActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".Activity.AccManage.ManAddActivity" />
        <activity android:name=".Activity.ManManage.ManSelectActivity" />
        <activity android:name=".Activity.ManManage.ManRegistActivity" />
        <activity android:name=".Activity.ManManage.ManPasswordActivity" />
        <activity android:name=".Activity.ManManage.ManLoginActivity" />
        <activity android:name=".Activity.AccSearch.TypeActivity" />
        <activity android:name=".Activity.AccSearch.MessageActivity" />
        <activity android:name=".Activity.AccSearch.MultipleSecondActivity" />
        <activity android:name=".Activity.AccSearch.MultipleActivity" />
        <activity android:name=".Activity.AccSearch.SingleActivity" />
        <activity android:name=".Activity.UserManage.UserPasswordActivity" />
        <activity android:name=".Activity.UserManage.UserRegistActivity" />
        <activity android:name=".Other.AirNews.AirActivity.AirDescActivity" />
        <activity android:name=".Other.AirNews.AirActivity.AirGridActivity" />
        <activity android:name=".Other.AirNews.AirActivity.AirListActivity" />
        <activity android:name=".Other.Information.InfoFiveActivity" />
        <activity android:name=".Activity.UserManage.UserLoginActivity" />
        <activity android:name=".Other.Information.InfoFourActivity" />
        <activity android:name=".Other.Information.InfoThreeActivity" />
        <activity android:name=".Other.Information.InfoTwoActivity" />
        <activity android:name=".Other.Information.InfoOneActivity" />
        <activity android:name=".Activity.FirstActivity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.FirstActivity.GuideActivity" />
        <activity android:name=".Activity.FirstActivity.MainActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

</manifest>